---
import FadeIn from "@repo/ui/components/fade-in.astro";
import Heading from "@repo/ui/components/heading.astro";

interface Props {
  title: string;
  description: string[];
  index: number;
  duration?: number;
  delay?: number;
  yOffset?: number;
}

const {
  title,
  description,
  index,
  duration = 1,
  delay = 0,
  yOffset = -20,
} = Astro.props;
---

<FadeIn
  duration={duration}
  delay={delay}
  yOffset={yOffset}
  class="row-span-2 grid grid-rows-subgrid"
>
  <div
    class={`grid sm:hover:-translate-y-2 bg-white/70  transition-transform rounded-xl p-7 font-heading duration-300 cursor-pointer border border-brand-blue grid-rows-subgrid row-span-2 text-left`}
  >
    <Heading
      level={4}
      className="text-brand text-xl font-medium tracking-normal! text-pretty"
      text={title}
    />
    <div class="text-brand/90 font-body! flex flex-col gap-2">
      {description.map((desc) => <p>{desc}</p>)}
    </div>
  </div>
</FadeIn>
