---
import FadeIn from "@repo/ui/components/fade-in.astro";
import Heading from "@repo/ui/components/heading.astro";

interface Props {
  title: string;
  description: string[];
  index: number;
  duration?: number;
  delay?: number;
  yOffset?: number;
}

const {
  title,
  description,
  index,
  duration = 1,
  delay = 0,
  yOffset = -20,
} = Astro.props;
---

<FadeIn
  duration={duration}
  delay={delay}
  yOffset={yOffset}
  class="grid grid-rows-subgrid row-span-2"
>
  <div
    class={`grid sm:hover:translate-y-[-10px] ${
      index % 2 === 1 ? "sm:hover:-rotate-1" : "sm:hover:rotate-1"
    } bg-white transition-transform rounded-xl squircle-border-radius p-7 font-heading duration-300 cursor-pointer border border-neutral-300 grid-rows-subgrid row-span-2`}
  >
    <Heading
      level={4}
      className="text-brand-gray font-medium text-pretty text-xl"
      text={title}
    />
    <div class="flex flex-col gap-2 text-brand-gray">
      {description.map((desc) => <p>{desc}</p>)}
    </div>
  </div>
</FadeIn>
